/* Polices Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap'); /* Bungee Shade */
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Bowlby+One+SC&family=Hind:wght@300;400;500;600;700&display=swap'); /* Bayon, Hind & Bowlby One SC */

body{
    background: linear-gradient(#172647, #382C50)
}

h1,h2,h3{
    color: rgb(255, 255, 255);
    font-family: Gowun Dodum;
}

/* Barre tout en haut de la page principale */
#top_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.amburger_menu{
    margin-top: 0;
    height: 30px;
    width: auto;
}

#top_bar h3{
    font-family: Bungee Shade;
    font-size: 20px;
}

#top_bar img{
    margin-top: 0;
    height: 30px;
    width: auto;
    border-radius: 100%;
}

/* Logo et titre sur la page principale*/
#title_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#title_div img{
    margin-top: 80px;
    height: auto;
    width: 80vw;
}

#title_div h2{
    margin-top: -1vw;
    font-size:4.8vw;
    font-family: Hind;
}

/* Fenetre des booster sur la page principale */
#onglet_booster{
    display: flex;
    background: linear-gradient(
        .25turn,
        #404C7D77,
        #7D404177,
        #4A3C6877,
        #27532C77,
        #00050177
    );
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    border-radius: 5vw;
    box-shadow: inset 10px 10px 4vw #00000070;
}

#onglet_booster div{
    text-align: center;
}

#onglet_booster h1{
    font-family: Bowlby One SC;
    font-size: 5vw;
    margin-top: 10px;
}

#onglet_booster h2{
    font-family: Bayon;
    font-size: 4vw;
    margin-top: -8%
}

#onglet_booster img{
    margin-top: -9%;
    width: 80vw;
    height: auto;
}

/* Section referencement des cartes sur la page principale*/
#section_carte{
    background-color: #36393F;
    width: 100%;
    left: -10px;
}