/* Coucou toi qui regarde dans le code
/‾‾‾‾‾\ /‾‾‾‾‾] [‾‾‾‾‾‾‾‾] |‾‾‾‾‾] |‾‾‾‾‾\ |‾‾‾‾‾\ |‾| /‾/
| |‾| | | |‾‾‾   ‾‾|  |‾‾  | |‾‾‾  |     | |     | | |/ /
| | | | | |        |  |    |  ___] |     / |     / |  _/
| |_| | | |___     |  |    | |___  | |\ \  | |\ \  | |
\_____/ \_____]    |__|    |_____] |_| \_\ |_| \_\ |_|
MADE ON EARTH BY HUMANS */

/* Polices Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap'); /* Bungee Shade */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bayon&family=Bowlby+One+SC&family=Hind:wght@300;400;500;600;700&display=swap'); /* Barlow, Bayon, Hind & Bowlby One SC */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Holtwood+One+SC&family=Jost:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Julee&display=swap&family=Konkhmer+Sleokchher&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap'); /* Holtwood One SC, Jost , Rock Salt & Hammersmith One */

/* Rassembler les différents CSS */
@import url("./style/main-page.css");
@import url("./style/card-page.css");
@import url("./style/friends-page.css");

@import url("./style/top-bar.css");
@import url("./style/trade-button.css");
@import url("./style/bottom-buttons.css");
@import url("./style/footer.css");

@import url("./style/notification-modal.css");
@import url("./style/trade-modal.css");
@import url("./style/cheat-modal.css");
@import url("./style/search-friend-modal.css");

@import url("./style/profil.css");

@import url("./style/booster-opening-page.css");
@import url("./style/iot.css");

@import url("./style/loading-screen.css");

@import url("./style/animations.css");
@import url("./style/media.css");

/* ↓ TRUC TROUVES SUR INTERNET ↓ */

/* source : https://www.unclebigbay.com/blog/10-custom-scrollbar-samples-for-your-next-project */
/* On modifie la barre de scroll d'origine parce qu'elle est moche :3 */
:root {
    --gold1: #c7a674;
    --gold2: #d1b454A0;
    --gold3: #ceb29250;
    --silver1: #3a3d3e;
    --silver2: #7b7b7bA0;
    --silver3: #ffffff50;
    --bronze1: #54331d;
    --bronze2: #73573fA0;
    --bronze3: #8c675550;

    --mainBg: #342646;
    --secondBg: #302242;

    animation: goldAnimation 1s infinite ease-in-out, 
    silverAnimation 1s infinite ease-in-out,
    bronzeAnimation 1s infinite ease-in-out;
}

:root.light {
    --mainBg: #d1d1eb;
    --secondBg: #c7c7e8;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #000000;
}
body::-webkit-scrollbar-thumb{
    height: 5px;
    background-color: #4f5d8a;
    border-radius: 5px;
}
body {
    overflow-x: hidden;
}

/* Source : https://iamvdo.me/blog/animer-les-couleurs-d-une-interface */
@keyframes wheelHueColor {
    from, to { color: #183272; }
    25%      { color: #1b5f12; }
    50%      { color: #791e1e; }
    75%      { color: #6e499b; }
}

/* ↑ TRUC TROUVES SUR INTERNET ↑ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

body{
    background: repeating-linear-gradient( 45deg, var(--secondBg), var(--secondBg) 5px, var(--mainBg) 5px, var(--mainBg) 25px );
    min-height: 100vh;
    transition: all 500ms ease;
}

main{
    min-height: 50vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2,h3{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 500ms ease;
}

.light h1,.light h2,.light h3{
    color: #191936;
    transition: color 500ms ease;
}

.disabled {
    display: none;
}