
/* Animations */
@keyframes appear {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes opacityAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacityDisappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes topAppear {
    0% {
        transform: translateY(-50vh);
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes bottomAppear {
    0% {
        transform: translateY(50vh);
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes boosterAppear {
    0% {
        transform: scale(1.2) translateY(-20vh);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes actionsAppear {
    0% {
        transform: translateY(50vh) translateX(-50%);
    }
    100% {
        transform: translateX(0) translateX(-50%);
    }
}

@keyframes slideshowAppear {
    0% {
        transform: scale(1.2) translateY( calc(-20vh - 50%)) translateX(-40%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes wankulAppear {
    0% {
        transform: translateX(30vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes leftWankulAppear {
    0% {
        transform: translateX(-30vw) scaleX(-1);
    }
    100% {
        transform: translateX(0) scaleX(-1);
    }
}

@keyframes disappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes choiceAppear {
    0% {
        transform: scale(.1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes boosterOpening {
    from {
        z-index: 10;
        transform: translateY(0) scale(1);
    } to {
        z-index: 10;
        pointer-events: none;
        transform: translateY(100vh) scale(1);
    }
}

@keyframes cardReveal {
    from {
        transform: scale(.5);
    } to {
        transform: scale(1);
    }
}

@keyframes cardDisappear {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes goToBronze {
    0% {
        background: radial-gradient(var(--bronze1), var(--bronze2), var(--bronze3));
        background-size: 0%;
        background-position: center;
        background-repeat: no-repeat;
    }
    100% {
        background: radial-gradient(var(--bronze1), var(--bronze2), var(--bronze3));
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@keyframes goToSilver {
    0% {
        background: radial-gradient(var(--silver1), var(--silver2), var(--silver3));
        background-size: 0%;
        background-position: center;
        background-repeat: no-repeat;
    }
    100% {
        background: radial-gradient(var(--silver1), var(--silver2), var(--silver3));
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@keyframes goToGold {
    0% {
        background: radial-gradient(var(--gold1), var(--gold2), var(--gold3));
        background-size: 0%;
        background-position: center;
        background-repeat: no-repeat;
    }
    100% {
        background: radial-gradient(var(--gold1), var(--gold2), var(--gold3));
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@keyframes goldAnimation {
    0% {
        --gold1: #b47515;
        --gold2: #d1b454A0;
        --gold3: #ceb29250;
    }
    33% {
        --gold1: #d1b454;
        --gold2: #ceb292A0;
        --gold3: #b4751550;
    }
    66% {
        --gold1: #ceb292;
        --gold2: #b47515A0;
        --gold3: #d1b45450;
    }
    100% {
        --gold1: #b47515;
        --gold2: #d1b454A0;
        --gold3: #ceb29250;
    }
}

@keyframes silverAnimation {
    0% {
        --silver1: #3a3d3e;
        --silver2: #7b7b7bA0;
        --silver3: #ffffff50;
    }
    33% {
        --silver1: #ffffff;
        --silver2: #3a3d3eA0;
        --silver3: #7b7b7b50;
    }
    66% {
        --silver1: #7b7b7b;
        --silver2: #ffffffA0;
        --silver3: #3a3d3e50;
    }
    100% {
        --silver1: #3a3d3e;
        --silver2: #7b7b7bA0;
        --silver3: #ffffff50;
    }
}

@keyframes bronzeAnimation {
    0% {
        --bronze1: #54331d;
        --bronze2: #73573fA0;
        --bronze3: #8c675550;
    }
    33% {
        --bronze1: #8c6755;
        --bronze2: #54331dA0;
        --bronze3: #73573f50;
    }
    66% {
        --bronze1: #73573f;
        --bronze2: #8c6755A0;
        --bronze3: #54331d50;
    }
    100% {
        --bronze1: #54331d;
        --bronze2: #73573fA0;
        --bronze3: #8c675550;
    }
}

@keyframes backgroundSpinning {
    0% {
        --degrees: 0deg;
    }
    100% {
        --degrees: 360deg;
    }
    100% {
        --degrees: 360deg;
    }
}
/* Animations */
@keyframes appear {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes opacityAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacityDisappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes topAppear {
    0% {
        transform: translateY(-50vh);
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes bottomAppear {
    0% {
        transform: translateY(50vh);
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes boosterAppear {
    0% {
        transform: scale(1.2) translateY(-20vh);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes actionsAppear {
    0% {
        transform: translateY(50vh) translateX(-50%);
    }
    100% {
        transform: translateX(0) translateX(-50%);
    }
}

@keyframes slideshowAppear {
    0% {
        transform: scale(1.2) translateY( calc(-20vh - 50%)) translateX(-40%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes wankulAppear {
    0% {
        transform: translateX(30vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes leftWankulAppear {
    0% {
        transform: translateX(-30vw) scaleX(-1);
    }
    100% {
        transform: translateX(0) scaleX(-1);
    }
}

@keyframes disappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes choiceAppear {
    0% {
        transform: scale(.1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes boosterOpening {
    from {
        z-index: 10;
        transform: translateY(0) scale(1);
    } to {
        z-index: 10;
        pointer-events: none;
        transform: translateY(100vh) scale(1);
    }
}

@keyframes cardReveal {
    from {
        transform: scale(.5);
    } to {
        transform: scale(1);
    }
}

@keyframes cardDisappear {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes goToBronze {
    0% {
        background: radial-gradient(var(--bronze1), var(--bronze2), var(--bronze3));
        background-size: 0%;
        background-position: center;
        background-repeat: no-repeat;
    }
    100% {
        background: radial-gradient(var(--bronze1), var(--bronze2), var(--bronze3));
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@keyframes goToSilver {
    0% {
        background: radial-gradient(var(--silver1), var(--silver2), var(--silver3));
        background-size: 0%;
        background-position: center;
        background-repeat: no-repeat;
    }
    100% {
        background: radial-gradient(var(--silver1), var(--silver2), var(--silver3));
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@keyframes goToGold {
    0% {
        background: radial-gradient(var(--gold1), var(--gold2), var(--gold3));
        background-size: 0%;
        background-position: center;
        background-repeat: no-repeat;
    }
    100% {
        background: radial-gradient(var(--gold1), var(--gold2), var(--gold3));
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@keyframes goldAnimation {
    0% {
        --gold1: #b47515;
        --gold2: #d1b454A0;
        --gold3: #ceb29250;
    }
    33% {
        --gold1: #d1b454;
        --gold2: #ceb292A0;
        --gold3: #b4751550;
    }
    66% {
        --gold1: #ceb292;
        --gold2: #b47515A0;
        --gold3: #d1b45450;
    }
    100% {
        --gold1: #b47515;
        --gold2: #d1b454A0;
        --gold3: #ceb29250;
    }
}

@keyframes silverAnimation {
    0% {
        --silver1: #3a3d3e;
        --silver2: #7b7b7bA0;
        --silver3: #ffffff50;
    }
    33% {
        --silver1: #ffffff;
        --silver2: #3a3d3eA0;
        --silver3: #7b7b7b50;
    }
    66% {
        --silver1: #7b7b7b;
        --silver2: #ffffffA0;
        --silver3: #3a3d3e50;
    }
    100% {
        --silver1: #3a3d3e;
        --silver2: #7b7b7bA0;
        --silver3: #ffffff50;
    }
}

@keyframes bronzeAnimation {
    0% {
        --bronze1: #54331d;
        --bronze2: #73573fA0;
        --bronze3: #8c675550;
    }
    33% {
        --bronze1: #8c6755;
        --bronze2: #54331dA0;
        --bronze3: #73573f50;
    }
    66% {
        --bronze1: #73573f;
        --bronze2: #8c6755A0;
        --bronze3: #54331d50;
    }
    100% {
        --bronze1: #54331d;
        --bronze2: #73573fA0;
        --bronze3: #8c675550;
    }
}

@keyframes backgroundSpinning {
    0% {
        --degrees: 0deg;
    }
    100% {
        --degrees: 360deg;
    }
    100% {
        --degrees: 360deg;
    }
}