
/*SECTION FRIENDS*/
#section_friends {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

#friends_add_button {
    transition: transform .2s ease-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

#section_friends #subtext {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100vw;
}

#section_friends #subtext h2 {
    position: relative;
    left: 4vh;
    font-family: 'Jost';
    font-size: 3vh;
    font-weight: 1;
}

#section_friends #subtext #side_buttons {
    position: relative;
    left: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 12vh;
}

#section_friends #subtext #side_buttons svg {
    height: 3vh;
}

#section_friends #content_list {
    display: flex;
    max-height: 30vh;
    overflow-x: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

#section_friends #content_list::-webkit-scrollbar {
    width: 0;
}

#section_friends #content_list .friends_list_element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh;
    margin-top: 1vh;
    max-width: 90vw;
    width: 80vh;
    height: 9vh;
    background-color: #FFFFFF22;
    border-radius: 3vh;
}

#section_friends #content_list .friends_list_element .left_elements {
    display: flex;
    flex-direction: row;
}

#section_friends #content_list .friends_list_element .left_elements .friend_profil_picture {
    width: 6.2vh;
    height: 6.2vh;
    border-radius: 100vh;
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-image: url(../sources/wankul1.png);
}

#section_friends #content_list .friends_list_element .left_elements h2 {
    font-family: 'Jost';
    font-size: 2.5vh;
    margin-left: 1vh;
}

#section_friends #content_list .friends_list_element .left_elements .level_icon {
    display: flex;
    align-items: normal;
    justify-content: center;
    height: 4vh;
    width: 4vh;
    margin-left: 1vh;
    background-image: linear-gradient(#8F6A4F, #291F17);
    border-radius: 100vh;
    border-width: .2vh;
    border-style: solid;
    border-color: #856249;
    font-size: 1vh;
    font-family: 'Holtwood One SC';
}

#section_friends #content_list .friends_list_element .right_elements {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section_friends #content_list .friends_list_element .right_elements .fist_svg {
    height: 5vh;
    width: 5vh;
    background-color: #fff;
    mask-image: url(../sources/friendly_fight.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

#section_friends #content_list .friends_list_element .right_elements .cross_svg {
    height: 3vh;
    width: 3vh;
    background-color: #fff;
    mask-image: url(../sources/cross.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    margin: 1.5vh;
}

#section_friends #private_party_input {
    margin-top: 3vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Jost';
}

#section_friends #private_party_input h3 {
    font-size: 2.5vh;
    font-weight: 200;
}

#section_friends #private_party_input #code_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#section_friends #private_party_input #code_input input{
    height: 7vh;
    width: 5vh;
    background-color: #00000040;
    border: .2vh solid #ffffff62;
    border-radius: 1.5vh;
    text-align: center;
    font-size: 4vh;
    transition: border 0.3s;
    color: #fff;
    margin: 3px;
}

#section_friends #private_party_input #create_party_button {
    background-image: linear-gradient(.48turn, #233B51 50%, #1E2233 50%);
    transform: scale(.9);
    padding: 1vh 2vh;
    border-radius: 100vh;
    border: .5vh #fff solid;
    font-weight: 200;
    font-size: 2vh;
    transition: 200ms ease;
}

#section_friends #private_party_input #create_party_button:hover {
    transform: scale(1);
    cursor: pointer;
    box-shadow: 1vh -1vh 2vh #00000060;
}

#section_friends #private_party_input #create_party_button .light {
    color: #fff;
}

#section_friends #private_party_input #code_input input:focus {
    border: .5vh solid #7e9acf;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}