#iot_body {
    width: 100%;
}

#iot_pres_img {
    width: 100%;
}

#iot_title {
    position: absolute;
    top: 2vw;
    left: 0;
    width: 100%;

    text-align: center;

    font-family: "Konkhmer Sleokchher";
    font-size: 7vw;
}

#iot_subtitle {
    position: absolute;
    top: 40vw;
    left: 0;
    width: 100%;

    text-align: center;

    font-family: "Konkhmer Sleokchher";
    font-size: 3vw;
}

#iot_body p {
    width: 90%;

    text-align: center;

    color: #fff;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vh;

    margin-bottom: 2vw;
}

#iot_video_title {
    width: 100%;

    text-align: center;

    font-family: "Konkhmer Sleokchher";
    font-size: 3vw;
}

#iot_body video {
    height: 80vw;
    width: 90vw;

    object-fit: cover;
}